h1{
    font-family: Rubik Mono One; 
    text-align: center; font-size: 400%; 
    color: #f1a1a1
}
p{ 
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
li{
    color: brown; 
    font-family:Tahoma,italic; 
    font-weight: bold;
}
a{
    color: brown;
}
.dauphin{
    color: rgb(69, 206, 206);
}
.tortue{
    color: rgb(86, 166, 6);
}
.baleine{
    color: rgb(41, 41, 165);
}
img{
    width:500px;
    height: 300px
}
html{background-color: rgb(244, 244, 244);}
body{font-size: xx-large;}
h2{
    font-family: Brush Script MT;
    font-size: 300%; color: #f1a1a1
}
.palmier{
    width:1900px;
    height: 500px
}
.bacar{
    font-size: 3.5em; 
    font-family: Monserrat, sans-serif; 
    color: #A5B4FC; 
    text-align: left;
    font-weight: 200;
}
.photo{
    font-size: 1.1em; 
    font-family: Manrope; 
    color: black;
    font-weight: 100;
}
.fraise{
    font-size: 1em; 
    font-family: Manrope; 
    color: black; 
    font-weight: 100;
}
.said{background-color: white;}
.choco{
    font-size: 1em; 
    font-family: Manrope;
    text-decoration: none; 
    color: black; 
    font-weight: 100;
}